@model IEnumerable<Garage2.Models.ViewModels.AdvancedSearchViewModel>

@{
    ViewData["Title"] = "AdvancedSearchList";
}

<h1>AdvancedSearchList</h1>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicensePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LicensePlate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalTime)
                </td>

                @if (item.State == Globals.CheckInState)
                {
                    <td>-</td>
                    <td>-</td>
                }
                else
                {
                    <td>@item.DepartureTime</td>
                    <td>
                        @item.ParkedTime.Hours hr @item.ParkedTime.Minutes min @item.ParkedTime.Seconds sec
                    </td>
                }





                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>

                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |

                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.FirstOrDefault() == null)
{
    <h5>Vehicle Not found</h5>
}


