@model CheckOutViewModel


<h1> Reciept</h1>

<div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">License Plate:</dt>
		<dd class="col-sm-10">@Model.LicensePlate</dd>
		<dt class="col-sm-2">Check-In Time:</dt>
		<dd class="col-sm-10">@Model.CheckinTime</dd>
		<dt class="col-sm-2">Check-Out Time:</dt>
		<dd class="col-sm-10">@Model.CheckoutTime</dd>
		<dt class="col-sm-2">Parked (minutes):</dt>
		<dd class="col-sm-10">@Model.ParkTime</dd>
	</dl>
	<hr/>
	<dl class="row">
		<dt class="col-sm-2">Amount:</dt>
		<dd class="col-sm-10">@Model.Amount</dd>
	</dl>
</div>