@model CheckOutViewModel


<h1> Reciept</h1>

<div>
	<p>@Html.DisplayFor(model => Model.LicensePlate)</p>
	<p>@Html.DisplayFor(model => Model.CheckinTime)</p>
	<p>@Html.DisplayFor(model => Model.CheckoutTime)</p>
	<p>@Html.DisplayFor(model => Model.ParkTime)</p>
	<p>@Html.DisplayFor(model => Model.Amount)</p>
</div>