@model IEnumerable<Garage2.Models.ViewModels.OverviewViewModel>

@{
    ViewData["Title"] = "Overview";
}

<h1>Overview</h1>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicensePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkedTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="imgtd">
                    @switch (item.VehicleType)
                    {
                        case VehicleType._:
                            break;
                        case VehicleType.Car:

                            <img src="@Url.Content("../img/car.jpg")" />
                            break;
                        case VehicleType.Motorcycle:

                            <img src="@Url.Content("../img/motorbike.jpg")" />
                            break;
                        case VehicleType.Bus:

                            <img src="@Url.Content("../img/bus.jpg")" />
                            break;
                        case VehicleType.Boat:

                            <img src="@Url.Content("../img/boat.jpg")" />
                            break;
                        case VehicleType.Truck:
                            <img src="@Url.Content("../img/truck.jpg")" />
                            break;
                        default:

                            break;
                    }

                </td>
                <td>
                    @item.LicensePlate
                </td>
                <td>
                    @item.ArrivalTime
                </td>
                <td>
                    @item.ParkedTime.Hours hr @item.ParkedTime.Minutes min @item.ParkedTime.Seconds sec
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a> 
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Details</a> 

                </td>
            </tr>
        }
    </tbody>
</table>
