@model IEnumerable<SearchViewModel>

@{
	ViewData["Title"] = "Search";
}


<table class="table">
	<thead>
		<tr>
			<th id="sort-lp">@Html.DisplayNameFor(model => model.LicensePlate)</th>
			<th id="sort-vt">@Html.DisplayNameFor(model => model.VehicleType)</th>
			<th id="sort-mk">@Html.DisplayNameFor(model => model.Make)</th>
			<th id="sort-md">@Html.DisplayNameFor(model => model.Model)</th>
			<th id="sort-at">@Html.DisplayNameFor(model => model.ArrivalTime)</th>
			<th id="sort-pt">@Html.DisplayNameFor(model => model.ParkedTime)</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="sort-data">
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.LicensePlate</td>
				<td>@item.VehicleType</td>
				<td>@item.Make</td>
				<td>@item.Model</td>
				<td>@item.ArrivalTime</td>
				<td>@item.ParkedTime</td>
				<td><a asp-action="Details" asp-route-id="@item.Id">Details</a></td>
				<td>
					<form method="post">
						<input type="hidden" name="LicensePlate" value="@item.LicensePlate" />
						<input type="submit" value="Checkout" asp-controller="ParkedVehicles" asp-action="CheckOut" class="btn btn-primary" />
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>

@if (Model.FirstOrDefault() == null) { 
	<p>Did not find any match</p>
}
